@media print {
    img {
        display: block;
        break-inside: avoid;
    }
}

h1 {
    font-size: 28pt;
}

#loading-bar {
    width: 1000px;
    background-color: gray;
}

#progress {
    width: 0;
    height: 50px;
    background-color: #333333;
}